/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    scroll-behavior: smooth;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #0d324d !important;
}

#toTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
}

.b-font-w200 {
    font-weight: 200 !important;
}

.b-font-w300 {
    font-weight: 300 !important;
}

.b-font-w400 {
    font-weight: 400 !important;
}

.b-font-w600 {
    font-weight: 600 !important;
}

.b-font-w700 {
    font-weight: 700 !important;
}

.b-font-30 {
    font-size: 30px;
}

.b-navbar {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}


/* ===== index page ===== */


/* Begin Section 1 */

#s1 {
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

#s1 .b-section-register .b-circle {
    width: 150px;
    height: 150px;
    background-color: #7ed6df;
}

#s1 .b-section-register .b-circle-x {
    width: 130px !important;
    height: 130px !important;
    background-color: #fff !important;
}

#s1 .b-section-register .b-row-s1 {
    height: 90vh;
}

#s1 .b-section-register .b-row-s2 {
    height: 60vh;
}

#s1 .b-section-register .b-circle i {
    font-size: 3.5rem;
    color: #ecf0f1;
}

#s1 .b-section-register .b-row-s1 .s1-desc {
    color: #bdc3c7;
}

#s2 {
    background-color: #fff;
}

#s3 {
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
}

#s3 .b-section-register .b-circle {
    width: 150px;
    height: 150px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(155, 89, 182, 0.56);
    -moz-box-shadow: 0px 0px 15px 0px rgba(155, 89, 182, 0.56);
    box-shadow: 0px 0px 15px 0px rgba(155, 89, 182, 0.56);
}

#s3 .b-section-register .b-circle i {
    font-size: 3.5rem;
    color: #0d324d;
}

#s3 .b-section-register .b-row-s3 .s3-desc {
    color: #bdc3c7;
}

#s3 .b-section-register .b-row-s3 .s3-desc a {
    color: #fff;
}

@media (max-width: 480px) {
    #s1 .b-section-register .b-row-s1 {
        height: 130vh;
    }
    #s3 .b-section-register .b-row-s3 {
        height: 170vh;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    #s1 .b-section-register .b-row-s1 {
        height: 140vh;
    }
    #s3 .b-section-register .b-row-s3 {
        height: 170vh;
    }
}


/* End Section 1 */


/* ===== Register Page ===== */

#b-register {
    background: #f0f2f5;
    background-image: url('../images/bg-1.svg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#b-register .b-form .main {
    background-color: #fff;
    width: 80%;
    margin: 5rem auto;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.31);
}

#b-register .b-form .main form p {
    font-size: 15px;
    color: rgba(0, 0, 0, .65);
    font-weight: 200;
    padding: 10px 0;
}

@media (max-width: 480px) {
    #b-register .b-form .main {
        padding: 10px;
    }
    #b-register .b-form .main form {
        padding: 10px;
    }
}